@tailwind base;
@tailwind components;
@tailwind utilities;

.nocopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #00000009;
    border: 1px solid #0000000c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00000025;
    border-radius: 10px;
}